{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'titulo' %} Cadastro {% endblock %} </title>
</head>
<body>
{% block 'conteudo' %}
    <div class="container">
        <br>
        {% if status == '0' %}
        <div class="alert alert-success" role="alert">
            Cadastro realizado com sucesso!
        </div>
        {% endif %}

        {% if status == '1' %}
        <div class="alert alert-warning" role="alert">
            Nome e e-mail não podem estar vazios!
        </div>
        {% endif %}

        {% if status == '2' %}
        <div class="alert alert-warning" role="alert">
            Sua senha deve ter no mínimo 8 caracteres!
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-3">
            </div>

            <div class="col-md">
                <h1>Cadastre-se</h1>
                <hr>
                <form method="POST" action="{% url 'valida_cadastro' %}">{% csrf_token %}
                    <label>Nome:</label>
                    <input type="text" name="nome" placeholder="Nome..." class="form-control">
                    <br>
                    <label>E-mail:</label>
                    <input type="email" name="email" placeholder="E-mail..." class="form-control">
                    <br>
                    <label>Senha:</label>
                    <input type="password" name="senha" placeholder="Senha..." class="form-control">
                    <br>
                    <input type="submit" value="Cadastrar" class="btn btn-primary" style="background-color: #c4baff; border-color: #c4baff;">
                    <a class="btn btn-primary" href="{% url 'login' %}" style="background-color: #c4baff; border-color: #c4baff;">Login</a>
                </form>

{% endblock %}
</body>
</html>