{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block 'titulo' %} DollHub {% endblock %}</title>
</head>
<body>

{% block 'link-navbar-2' %} Sair {% endblock %}

{% block 'conteudo' %}

    <br>
    {% for produto in produtos %}
    <div class="coluna">
      <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{ produto.foto.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ produto.nome }}</h5>
            <p class="card-text">Preço: R$ {{ produto.preco }}</p>
            {% if produto.estoque == 0 %}
              <p class="card-text">Produto fora de estoque</p>
            {% else %}
              <p class="card-text">Estoque: {{ produto.estoque }}</p>
            {% endif %}
            <form action="{% url 'registrar_venda' produto.id %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" class="form-control" min="1" max="{{ produto.estoque }}" required>
              </div>
              <button type="submit" class="btn btn-primary" style="background-color: #c4baff; border-color: #c4baff;" >Comprar</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}

{% endblock %}
</body>
</html>



